* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

#workspaces button {
  padding: 3px 5px;
  background: transparent;
  color: white;
}

#workspaces button.focused {
  background: rgba(0, 0, 0, 0.25);
}

#workspaces button.urgent {
  background: crimson;
}

#window,
#tray,
#network,
#pulseaudio,
#battery,
#clock {
  padding: 3px 8px;
  color: white;
}

@keyframes blink {
  to {
    background: none;
  }
}

#battery.charging {
  background: green;
}

#battery.warning:not(.charging) {
  background: orangered;
}

#battery.critical:not(.charging) {
  background: red;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: darkgray;
}

#pulseaudio.muted {
  color: darkgray;
}
